/*Color Palette

lighter gray - #404040
darker gray - #333333

*/


/* Global styles */

body {
	margin: 0;
	padding-top: 65px;
	font-family: "Helvetica";
	font-weight: 400;
	letter-spacing: 0.03em;
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&s=b06c1fb67e23344ffc685dccbd6e78d8&auto=format&fit=crop&w=1950&q=80");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top;
    background-size: cover;
	background-color: #404040;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-weight: 400;
}

h2 {
	padding-bottom: 5%;
	margin: 0;
	text-align: center;
}

.jumbotron {
	text-align: center;
	padding-top: 20em;
	padding-bottom: 20em;
	margin: 0;
	background: none;
}

/* Gray and white background sections */

.gray-bg {
	background-color: #404040;
	color: white;
}

.white-bg {
	background-color: white;
	color: #404040;
}

.gray-bg, .white-bg {
	padding: 5% 10%;
}

.gray-bg a {
	color: white;
	text-decoration: none;
}

.gray-bg a:hover {
	color: white;
	text-decoration: underline;
	transition: 0.3s;
}

.white-bg a {
	color: #404040;
	text-decoration: none;
}

.white-bg a:hover {
	color: #404040;
	text-decoration: underline;
	transition: 0.3s;
}


/* Navbar */

.navbar {
	background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) );
	border: none;
    border-radius: 0%;
	margin-bottom: 0px;
	padding: 1% 10%;
	transition: 0.5s;
}

.navbar:hover {
	background: rgba(51, 51, 51, 0.5);
	border: none;
    border-radius: 0%;
	margin-bottom: 0px;
	padding: 1% 10%;
	transition: 0.5s;
}

.solid-navbar {
	background: rgba(51, 51, 51, 0.5);
	border: none;
    border-radius: 0%;
	margin-bottom: 0px;
	padding: 1% 10%;
	transition: 0.5s;
}

.navbar-brand > img {
	max-height: 100%;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: white;
	color: 404040;
	transition: 0.3s;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #333333;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
}

/* Navbar toggle button */


.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Experience */

#experience h3 {
	padding-bottom: 5%;
	margin: 0;
	text-align: center;
}

.job-img {
	height: 10em;
	width: 10em;
}

/* Portfolio */

#portfolio .row {
	margin: auto;
	width: 50%;
	text-align: center;
}

/* Footer */

form {
	margin: auto;
	width: 50%;
}

.form-control {
	border-radius: 0;
}

.btn-default {
	background-color: #404040;
	border-color: white;
	color: white;
	border-radius: 0;
}

.btn-default:hover {
	background-color: white;
	border-color: white;
	transition: 0.3s;
	color: #404040;
}

.input-lg {
	height: 5em;
}

.icon {
	opacity: 0.5;
}

.icon:hover {
	opacity: 1;
	transition: 0.3s;
}

#copyright {
    padding-top: 4em;
	text-align: center;
}

